body {
  background-color:#26282d;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos para la página principal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #b1ffc7;
  padding: 30px;
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.header-content {
  position: relative;
}


#menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  margin-bottom: 5px;
}

#menu ul li a {
  color: #b1ffc7;
  text-decoration: none;
}

main {
  padding: 35px;
}

section {
  margin-bottom: 50px;
  color: #ffffff;
}

h2 {
  color: #b1ffc7;
}

/* Estilos para el menú desplegable */
#menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 10;
  background-color: #333;
  padding: 15px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}

#menu ul li {
  margin-bottom: 15px;
}

#menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Estilos para la reacción al hacer clic en "Kendrick Lamar" */
#menu-toggle.active {
  color: #333;
  font-weight: bold;
}

#menu-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-left: 8px;
  transition: transform 0.3s ease;
}

#menu-toggle.active #menu-indicator {
  transform: rotate(-135deg);
}

#menu-toggle {
  display: flex;
  align-items: center;
}

#menu-toggle span {
  display: flex;
  align-items: center; 
}

#menu-toggle span:first-child {
  margin-right: 8px; 
}

/* Estilos para las listas de reproducción */
.playlist {
  margin-bottom: 20px;
  background-image: url('https://th.bing.com/th/id/OIP.02BMaq4yz1KfpvH-1fwCBwHaHa?w=211&h=211&c=7&r=0&o=5&dpr=1.3&pid=1.7');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 220px; 
}

.playlist h3 {
  color: #ffffff;
}

/* Estilos para las canciones */
.song {
  margin-bottom: 10px;
  color: #ffffff;
}

.song h3 {
  color: #ffffff;
}

/* Estilos para marquita*/
footer p {
  color:#ffffff;
  margin-left: 20px;
}

/* Estilos para los enlaces */
a {
  color: #b1ffc7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}